{% extends "Base.html" %}

{% block content %}
    <h1>Фотогалерея</h1>
    <ul>

        <!-- Вывод содержимого таблицы Photo       -->
        {% for photo in photos %}
            <li>
                <img src="{{ photo[4] }}" width="400" height="400">
                <h2>{{ photo[2] }}</h2>
                <h3>{{ photo[3] }}</h3>
                <h3>{{ photo[1] }}</h3>
                <h3>{{ photo }}</h3>


                {% if current_user.is_authenticated %}
                <!-- Удаление из базы данных -->
                <form action="/delete-photo/{{ photo[0] }}" method="post">
                    <input type="hidden" name="id" value="{{ photo[0] }}">
                    <input type="submit" value="Удалить">
                </form>

                <!-- Редактирование записи -->
                <form action="/edit-photo/" method="post">
                    <input type="text" name="title" value="{{ photo[2] }}">
                    <input type="text" name="image_path" value="{{ photo[4] }}">
                    <input type="hidden" name="id" value="{{ photo[0] }}">
                    <input type="submit" value="Сохранить">
                </form>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
    {% if current_user.is_authenticated %}
    <!--  Создание новой записи в бд  -->
    <h1>Добавление фотографии</h1>
    <form action="/add-photo" method="post" enctype="multipart/form-data">
        <label for="title">Название</label>
        <input type="text" name="title" id="title" required>

        <label for="description">Описание</label>
        <textarea name="description" id="description" required></textarea>

        <label for="image">Ссылка на изображение</label>
        <input type="text" name="image" id="image" required>


        <input type="submit" value="Добавить">
    </form>
    {% endif %}
{% endblock %}