<!DOCTYPE html>
<html lang="en">
<head>
    <title>PhotoHub</title>
</head>
<body>
    <h1>Фотогалерея</h1>
    <ul>
        {% for photo in photos %}
            <li>
                <!-- Приходит список -->
                <img src="{{ photo[4] }}" width="400" height="400">
                <h2>{{ photo[2] }}</h2>
                <h3>{{ photo[3] }}</h3>
                <h3>{{ photo[1] }}</h3>
                <h3>{{ photo }}</h3>

                <!-- Я провозился с этим не меньше 2х часов.
                Оно работает, но я даже не до конца понимаю за счет чего -->
                <form action="/delete-photo/{{ photo[0] }}" method="post">
                    <input type="hidden" name="id" value="{{ photo[0] }}">
                    <input type="submit" value="Удалить">
                </form>

            </li>
        {% endfor %}
    </ul>
<h1>Добавление фотографии</h1>

    <form action="/add-photo" method="post" enctype="multipart/form-data">
        <label for="title">Название</label>
        <input type="text" name="title" id="title" required>

        <label for="description">Описание</label>
        <textarea name="description" id="description" required></textarea>

        <label for="image">Ссылка на изображение</label>
        <input type="text" name="image" id="image" required>

        <input type="submit" value="Добавить">
    </form>
</body>
</html>